<mat-card class="card">
  <h1>MOVEMENTS</h1>
  <p>Please select a client and range date for see balance and movements</p>

  <app-movement-form
    [clients]="clients"
    (searchEvent)="fetchMovements($event)"
    (logoutEvent)="logout()"
  ></app-movement-form>

  <app-movement-balance [balance]="balance"></app-movement-balance>

  <app-movement-table
    *ngIf="movements.length > 0"
    [movements]="movements"
    [totalRows]="total"
    (newPage)="newPage($event)"
  ></app-movement-table>
  <p *ngIf="movements.length === 0">No records yet</p>
</mat-card>
